<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar recomendaciones</title>
  </head>

  <body>
    <h2>Lista de recomendaciones</h2>

    {% for c in recomendaciones %}
        <div>
            <p>nombre: {{ c.nombre }} </p>
            <h1></h1>
            <p>email: {{ c.email }} </p>
            <h1></h1>
            <p>producto: {{ c.producto }} </p>
            <h1></h1>
            <p>telefono: {{ c.telefono }} </p>
            <h1></h1>
            <p>razon: {{ c.razon }} </p>
            <h1></h1>
            <h1>------------------------------------------------------------</h1>
        </div>
        <div>
  
      </div
        <br>
    {% endfor %}
      
  </body>
</html>
